* {
    font-family: Chilanka, serif;
}

.title {
    margin-top: 50px;
}

.titleFont {
    color: indianred;
    text-align: center;
    font-size: 80px;
    font-weight: bold;
}

.custom-link {
    margin-top: 15px;
    margin-bottom: 20px;
    text-align: center;
}

.custom-link a {
    text-align: center;
    color: inherit;
    text-decoration: none;
}

.custom-link a:hover {
    color: indianred;
}

.shownForms {
    text-align: center;
    margin: 20px 0 40px 0;
}

.filter {
    margin-bottom: 20px;
}