 <!DOCTYPE html>
 <html>

 <form>
     <label for="imie">Jak masz na imię?</label>
     <input id="imie">

     <label for="wiek"> Ile masz lat</label>
     <input id="wiek">

     <label for="płeć"> Identyfikacja płciowa </label>
     <input id="płeć">

     <label for="zamieszkanie">W jakiej miejscowości mieszkasz?</label>
     <input id="zamieszkanie ?">

     <label for="wybór">Jaką masz dietę?</label>
     <select id="wybór">
         <option value="--">--</option>
         <option value="wszystkożerna">wszystkożerna</option>
         <option value="wegetariańska">wegetariańska</option>
         <option value="fleksitariańska">fleksitariańska</option>
         <option value="wegańska">wegańska</option>
         <option value="owocowa">owocowa</option>
         <option value="ketogeniczna">ketogeniczna</option>
     </select>
 </form>

 </html>