 <!DOCTYPE html>
 <html>
 <head>
    <link rel="stylesheet" href="../static/styles.css">
 </head>

 <div class="form">
     <form>
     <label for="name">Jak masz na imię?</label>
     <input id="name" class="form-input">

     <label for="age"> Ile masz lat</label>
     <input id="age" class="form-input">

     <label for="gender"> Twoja identyfikacja płciowa </label>
     <input id="gender" class="form-input">

     <label for="dwelling-place">W jakiej miejscowości mieszkasz?</label>
     <input id="dwelling-place" class="form-input">

     <label for="diet">Jaką masz dietę?</label>
     <select id="diet" class="form-input">
         <option value="--">--</option>
         <option value="wszystkożerna">wszystkożerna</option>
         <option value="wegetariańska">wegetariańska</option>
         <option value="fleksitariańska">fleksitariańska</option>
         <option value="wegańska">wegańska</option>
         <option value="owocowa">owocowa</option>
         <option value="ketogeniczna">ketogeniczna</option>
     </select>
 </form>

 </div>

 </html>